@model MessagesIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Messages</h1>

<h3>SEND A MESSAGE TO @Model.Receiver.Firstname @Model.Receiver.Lastname</h3>

<div id="messagesList">
    @await Html.PartialAsync("_Messages.cshtml", Model)
</div>

<form asp-controller="Messages" asp-action="SendMessage"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#messagesList"
      data-ajax-complete="startSignalR()">
    <input type="hidden" id="receiverId" asp-for="@Model.ReceiverId" value="@Model.Receiver.Id" />
    <input type="hidden" id="senderId" asp-for="@Model.SenderId" value="@Model.Sender.Id" />
    <textarea asp-for="@Model.MessageContent"></textarea>
    <input type="submit" value="send" id="sendMessage" class="btn btn-artfolio" />
</form>

@* AJAX CALLBACK *@
<form asp-controller="Messages" asp-action="GetMessages"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#messagesList"
      display="hidden">
    <input type="hidden" id="receiverId" asp-for="@Model.ReceiverId" value="@Model.Receiver.Id" />
    <input type="hidden" id="senderId" asp-for="@Model.SenderId" value="@Model.Sender.Id" />
    <input type="submit" id="getMessages" />
</form>

@section scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalr/messages.js"></script>
}
