@model artfolio.ViewModels.FeedIndexViewModel

@{
    ViewData["Title"] = "Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-2 border-info d-none d-lg-block">
        <h2 class="font-weight-lighter">following</h2>
        @if (!Model.Following.Any())
        {
            <h3>Follow an artist to contact him!</h3>
        }
        else
        {
        <ul class="list-unstyled">
            @foreach (var artist in Model.Following)
            {
               <li><a asp-area="" asp-controller="Home" asp-action="Contact">@artist.Name</a></li>
            }
        </ul>
        }
    </div>
    <div class="col-md-8">
        <div class="row justify-content-between">
            <h2 class="font-weight-lighter">feed</h2>
            <div>
                <a asp-area="" asp-controller="Feed" asp-action="Index" class="btn btn-artfolio font-weight-light" role="button">all</a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="photography" class="btn btn-artfolio font-weight-light" role="button">photography</a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="drawing" class="btn btn-artfolio font-weight-light" role="button">drawing</a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="painting" class="btn btn-artfolio font-weight-light" role="button">painting</a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="writing" class="btn btn-artfolio font-weight-light" role="button">writing</a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="audio" class="btn btn-artfolio font-weight-light" role="button">audio</a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="sheetmusic" class="btn btn-artfolio font-weight-light" role="button">sheet music</a>
            </div>
        </div>
        <h5>Filter (artwork title)</h5>
        <form asp-controller="Feed" asp-action="Index" method="get">
            <p>
                Title: <input type="text" name="search">
                <input type="submit" value="Filter" />
            </p>
        </form>

        <div class="row-card p-0 m-0">
            <div class="column-card">
                <div class="artwork-card">
                    <img src="~/images/artworks/1a0c33fc-9ed1-4a0b-bb5e-acfe1e6081b9_IMG_20190506_215537_2.jpg">
                    <div class="description-card">
                        <p class="m-0 small mb-1"><span class="tag">erreur</span><span class="tag">solene</span><span class="tag">drogue</span></p>
                        <h5 class="mb-1">Artwork Title 1</h5>
                        <h6 class="small mb-0">by <a href="#" alt="ll">Robert Retron</a></h6>
                    </div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/1c51e90d-ddeb-4247-b79d-9259a2bd0ddf_18zexNc.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/a0106a5e-5c14-4f85-91a3-7982de9011e7_20200130_204719_284.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/d79cdd5f-864d-493a-9c9d-d6e5682d7321_99893.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/1c51e90d-ddeb-4247-b79d-9259a2bd0ddf_18zexNc.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/a0106a5e-5c14-4f85-91a3-7982de9011e7_20200130_204719_284.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/d79cdd5f-864d-493a-9c9d-d6e5682d7321_99893.jpg">
                    <div class="description-card">test</div>
                </div>

            </div>
            <div class="column-card">
                <div class="artwork-card">
                    <img src="~/images/artworks/a0106a5e-5c14-4f85-91a3-7982de9011e7_20200130_204719_284.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/d79cdd5f-864d-493a-9c9d-d6e5682d7321_99893.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/1a0c33fc-9ed1-4a0b-bb5e-acfe1e6081b9_IMG_20190506_215537_2.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/a0106a5e-5c14-4f85-91a3-7982de9011e7_20200130_204719_284.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/d79cdd5f-864d-493a-9c9d-d6e5682d7321_99893.jpg">
                    <div class="description-card">test</div>
                </div>

            </div>
            <div class="column-card">
                <div class="artwork-card">
                    <img src="~/images/artworks/1a0c33fc-9ed1-4a0b-bb5e-acfe1e6081b9_IMG_20190506_215537_2.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/1c51e90d-ddeb-4247-b79d-9259a2bd0ddf_18zexNc.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/a0106a5e-5c14-4f85-91a3-7982de9011e7_20200130_204719_284.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/d79cdd5f-864d-493a-9c9d-d6e5682d7321_99893.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/1c51e90d-ddeb-4247-b79d-9259a2bd0ddf_18zexNc.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/a0106a5e-5c14-4f85-91a3-7982de9011e7_20200130_204719_284.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/d79cdd5f-864d-493a-9c9d-d6e5682d7321_99893.jpg">
                    <div class="description-card">test</div>
                </div>

            </div>
            <div class="column-card">
                <div class="artwork-card">
                    <img src="~/images/artworks/a0106a5e-5c14-4f85-91a3-7982de9011e7_20200130_204719_284.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/d79cdd5f-864d-493a-9c9d-d6e5682d7321_99893.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/1a0c33fc-9ed1-4a0b-bb5e-acfe1e6081b9_IMG_20190506_215537_2.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/a0106a5e-5c14-4f85-91a3-7982de9011e7_20200130_204719_284.jpg">
                    <div class="description-card">test</div>
                </div>
                <div class="artwork-card">
                    <img src="~/images/artworks/d79cdd5f-864d-493a-9c9d-d6e5682d7321_99893.jpg">
                    <div class="description-card">test</div>
                </div>

            </div>
        </div>
            @if (!Model.Artworks.Any())
            {
                <h3>No match for your request!</h3>
            }
            else
            {
                @foreach (var artwork in Model.Artworks)
                {
                    <div class="card-artwork p-0 col-4">
                        <div class="p-2">
                            <h4 class="font-weight-lighter">Titre de l'oeuvre</h4>
                        </div>
                        @if (artwork.Documents.Count != 0)
                        {
                            <img class="card-img-top" src="~/images/artworks/@artwork.Documents[0].FilePath" alt="Card image">
                        }
                    </div>
                }
            }
</div>


                @*@foreach (var artwork in Model.Artworks)
                {
                <div class="card m-2" style="width:400px">
                    @if (artwork.Documents.Count != 0)
                    {
                        <img class="card-img-top" src="~/images/artworks/@artwork.Documents[0].FilePath" alt="Card image">
                    }
                    else
                    {
                        //TEXTE
                    }
                    <div class="card-img-overlay">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => artwork.Title)</h5>
                        <h6>@Html.DisplayFor(modelItem => @artwork.Category)</h6>
                        <p class="card-text">
                            <em class="small">Release date: @Html.DisplayFor(modelItem => artwork.ReleaseDate)</em>
                        </p>
                        @if (artwork.ArtworkTags.Count != 0)
                        {
                            <div class="row">
                                @foreach (var artworkTag in artwork.ArtworkTags)
                                {
                                    <span style="font-size: .7rem; background-color: cadetblue; color: white; padding: 3px 10px; border-radius: 50px; margin-left: 5px; margin-bottom: 5px;">@artworkTag.Tag.Name</span>
                                }
                            </div>
                        }
                        else
                        {
                            //TEXTE
                        }
                        <a asp-action="Edit" asp-route-id="@artwork.ArtworkId" class="btn btn-artfolio stretched-link">See more</a>
                    </div>
                </div>
                }*@