@model FeedIndexViewModel

@{
    ViewData["Title"] = "Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i1 = 0;
    int i2 = 0;
    int i3 = 0;
    int i4 = 0;
    string selection(string category)
    {
        return (category == (string)ViewData["selection"]) ? "selected" : "";
    }
    string redirectCategory(string category)
    {
        return (@selection(category) != "") ? "" : category;
    }
}

<div class="row justify-content-center">
    <div class="col-md-2 border-info d-none d-lg-block">
        <h2 class="font-weight-lighter">following</h2>
        @if (!Model.Following.Any())
        {
            <h3>Follow an artist to contact him!</h3>
        }
        else
        {
            <ul class="list-unstyled">
                @foreach (var artist in Model.Following)
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">@artist.Name</a></li>
                }
            </ul>
        }
    </div>
    <div class="col-md-8">
        <div class="row justify-content-between">
            <h2 class="font-weight-lighter">feed</h2>
            <div>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="@redirectCategory("photography")" class="btn btn-artfolio font-weight-light btn-category @selection("photography")" role="button" alt="photography" title="photography"><img src="~/images/icons/camera-outline.svg" width="25" alt="photography" /></a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="@redirectCategory("painting")" class="btn btn-artfolio font-weight-light btn-category @selection("painting")" role="button" alt="painting" title="painting"><img src="~/images/icons/color-palette-outline.svg" width="25" alt="painting" /></a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="@redirectCategory("drawing")" class="btn btn-artfolio font-weight-light btn-category @selection("drawing")" role="button" alt="drawing" title="drawing"><img src="~/images/icons/brush-outline.svg" width="25" alt="drawing" /></a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="@redirectCategory("writing")" class="btn btn-artfolio font-weight-light btn-category @selection("writing")" role="button" alt="writing" title="writing"><img src="~/images/icons/book-outline.svg" width="25" alt="writing" /></a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="@redirectCategory("audio")" class="btn btn-artfolio font-weight-light btn-category @selection("audio")" role="button" alt="audio" title="audio"><img src="~/images/icons/play-circle-outline.svg" width="25" alt="audio" /></a>
                <a asp-area="" asp-controller="Feed" asp-action="Index" asp-route-category="@redirectCategory("sheetmusic")" class="btn btn-artfolio font-weight-light btn-category @selection("sheetmusic")" role="button" alt="sheet music" title="audio"><img src="~/images/icons/musical-notes-outline.svg" width="25" alt="sheet music" /></a>
            </div>
        </div>
        <h5>Filter (artwork title)</h5>
        <form asp-controller="Feed" asp-action="Index" method="get">
            <p>
                Title: <input type="text" name="search">
                <input type="submit" value="Filter" />
            </p>
        </form>

        @if (!Model.Artworks.Any())
        {
            <h3>No match for your request!</h3>
        }
        else
        {
            <div class="row-card p-0 m-0">
                <div class="column-card">

                    @foreach (var artwork in Model.Artworks)
                    {
                        if (i1 % 4 == 0)
                        {
                            <div class="artwork-card">
                                @if (artwork.Documents.Count > 0)
                                {
                                    <img src="~/images/artworks/@artwork.Documents[0].FilePath">
                                }
                                else
                                {
                                    <img src="~/images/artworks/1a0c33fc-9ed1-4a0b-bb5e-acfe1e6081b9_IMG_20190506_215537_2.jpg">
                                }
                            <div class="description-card">
                                @if (artwork.ArtworkTags.Count > 0)
                                {
                                    <p class="m-0 small pb-1">
                                        @foreach (var artworkTag in artwork.ArtworkTags)
                                        {
                                            <span class="tag">@artworkTag.Tag.Name</span>
                                        }
                                    </p>
                                }
                                <h5 class="mb-1">@Html.DisplayFor(modelItem => artwork.Title)</h5>
                                <h6 class="small mb-0">@Html.DisplayFor(modelItem => artwork.Category) by <a href="@Html.DisplayFor(modelItem => artwork.Artist.Name)" alt="">@artwork.Artist.Name</a>, @Html.DisplayFor(modelItem => artwork.ReleaseDate)</h6>
                            </div>
                            </div>
                        }
                        i1++;
                    }

                </div>

                <div class="column-card">

                    @foreach (var artwork in Model.Artworks)
                    {
                        if (i2 % 4 == 1)
                        {
                            <div class="artwork-card">
                                @if (artwork.Documents.Count > 0)
                                {
                                    <img src="~/images/artworks/@artwork.Documents[0].FilePath">
                                }
                                else
                                {
                                    <img src="~/images/artworks/1a0c33fc-9ed1-4a0b-bb5e-acfe1e6081b9_IMG_20190506_215537_2.jpg">
                                }
                            <div class="description-card">
                                @if (artwork.ArtworkTags.Count > 0)
                                {
                                    <p class="m-0 small pb-1">
                                        @foreach (var artworkTag in artwork.ArtworkTags)
                                        {
                                            <span class="tag">@artworkTag.Tag.Name</span>
                                        }
                                    </p>
                                }
                                <h5 class="mb-1">@Html.DisplayFor(modelItem => artwork.Title)</h5>
                                <h6 class="small mb-0">@Html.DisplayFor(modelItem => artwork.Category) by <a href="@Html.DisplayFor(modelItem => artwork.Artist.Name)" alt="">@artwork.Artist.Name</a>, @Html.DisplayFor(modelItem => artwork.ReleaseDate)</h6>
                            </div>
                            </div>
                        }
                        i2++;
                    }
                </div>

                <div class="column-card">

                    @foreach (var artwork in Model.Artworks)
                    {
                        if (i3 % 4 == 2)
                        {
                            <div class="artwork-card">
                                @if (artwork.Documents.Count > 0)
                                {
                                    <img src="~/images/artworks/@artwork.Documents[0].FilePath">
                                }
                                else
                                {
                                    <img src="~/images/artworks/1a0c33fc-9ed1-4a0b-bb5e-acfe1e6081b9_IMG_20190506_215537_2.jpg">
                                }
                            <div class="description-card">
                                @if (artwork.ArtworkTags.Count > 0)
                                {
                                    <p class="m-0 small pb-1">
                                        @foreach (var artworkTag in artwork.ArtworkTags)
                                        {
                                            <span class="tag">@artworkTag.Tag.Name</span>
                                        }
                                    </p>
                                }
                                <h5 class="mb-1">@Html.DisplayFor(modelItem => artwork.Title)</h5>
                                <h6 class="small mb-0">@Html.DisplayFor(modelItem => artwork.Category) by <a href="@Html.DisplayFor(modelItem => artwork.Artist.Name)" alt="">@artwork.Artist.Name</a>, @Html.DisplayFor(modelItem => artwork.ReleaseDate)</h6>
                            </div>
                            </div>
                        }
                        i3++;
                    }

                </div>

                <div class="column-card">

                    @foreach (var artwork in Model.Artworks)
                    {
                        if (i4 % 4 == 3)
                        {
                            <div class="artwork-card">
                                @if (artwork.Documents.Count > 0)
                                {
                                    <img src="~/images/artworks/@artwork.Documents[0].FilePath">
                                }
                                else
                                {
                                    <img src="~/images/artworks/1a0c33fc-9ed1-4a0b-bb5e-acfe1e6081b9_IMG_20190506_215537_2.jpg">
                                }
                            <div class="description-card">
                                @if (artwork.ArtworkTags.Count > 0)
                                {
                                    <p class="m-0 small pb-1">
                                        @foreach (var artworkTag in artwork.ArtworkTags)
                                        {
                                            <span class="tag">@artworkTag.Tag.Name</span>
                                        }
                                    </p>
                                }
                                <h5 class="mb-1">@Html.DisplayFor(modelItem => artwork.Title)</h5>
                                <h6 class="small mb-0">@Html.DisplayFor(modelItem => artwork.Category) by <a href="@Html.DisplayFor(modelItem => artwork.Artist.Name)" alt="">@artwork.Artist.Name</a>, @Html.DisplayFor(modelItem => artwork.ReleaseDate)</h6>
                            </div>
                            </div>
                        }
                        i4++;
                    }
                </div>
            </div>
        }
    </div>


    @*@foreach (var artwork in Model.Artworks)
        {
        <div class="card m-2" style="width:400px">
            @if (artwork.Documents.Count != 0)
            {
                <img class="card-img-top" src="~/images/artworks/@artwork.Documents[0].FilePath" alt="Card image">
            }
            else
            {
                //TEXTE
            }
            <div class="card-img-overlay">
                <h5 class="card-title">@Html.DisplayFor(modelItem => artwork.Title)</h5>
                <h6>@Html.DisplayFor(modelItem => @artwork.Category)</h6>
                <p class="card-text">
                    <em class="small">Release date: @Html.DisplayFor(modelItem => artwork.ReleaseDate)</em>
                </p>
                @if (artwork.ArtworkTags.Count != 0)
                {
                    <div class="row">
                        @foreach (var artworkTag in artwork.ArtworkTags)
                        {
                            <span style="font-size: .7rem; background-color: cadetblue; color: white; padding: 3px 10px; border-radius: 50px; margin-left: 5px; margin-bottom: 5px;">@artworkTag.Tag.Name</span>
                        }
                    </div>
                }
                else
                {
                    //TEXTE
                }
                <a asp-action="Edit" asp-route-id="@artwork.ArtworkId" class="btn btn-artfolio stretched-link">See more</a>
            </div>
        </div>
        }*@
