@model ArtworkCardPartialViewModel
@{
    string formatToImg(string acromym)
    {
        return acromym + ".sm.png";
    }
}

<div class="artwork-card">
    @if (Model.Artwork.Documents.Count > 0)
    {
        <a asp-controller="Artwork" asp-action="Index" asp-route-userName="@Model.Artwork.Artist.UserName" asp-route-title="@Model.Artwork.NormalizedTitle" alt="See the details" title="See the details">
            @if (Model.Artwork.Documents[0].Media == DocumentMedia.Picture)
            {
                <img src="~/artworks/picture/thumbnails/@Model.Artwork.Documents[0].FilePath" class="artwork-thumbnail-pic" alt="@Model.Artwork.Title, by @Model.Artwork.Artist.Firstname @Model.Artwork.Artist.Lastname">
            }
            else if (Model.Artwork.Documents[0].Media == DocumentMedia.Audio)
            {
                <audio controls preload="metadata" style=" width:200px;">
                    <source src="~/artworks/audio/@Model.Artwork.Documents[0].FilePath" type="@Model.Artwork.Documents[0].ContentType">
                    Your browser does not support the audio element.
                </audio>
            }
        </a>
    }
    else
    {
        @*<img src="~/images/artworks/1a0c33fc-9ed1-4a0b-bb5e-acfe1e6081b9_IMG_20190506_215537_2.jpg">*@
    }
    <div class="description-card">
        @if (Model.Artwork.ArtworkTags.Count > 0)
        {
            <p class="m-0 small pb-1">
                @foreach (var artworkTag in Model.Artwork.ArtworkTags)
                {
                    <a class="tag" asp-controller="Discover" asp-action="Index" asp-route-q="@ViewData["q"]" asp-route-tag="@artworkTag.Tag.Name" asp-route-category="@ViewData["category"]" alt="Search similar artworks with the tag '@artworkTag.Tag.Name'" title="Search similar artworks with the tag '@artworkTag.Tag.Name'">
                        @artworkTag.Tag.Name
                    </a>
                }
            </p>
        }
        <a asp-controller="Artwork" asp-action="Index" asp-route-userName="@Model.Artwork.Artist.UserName" asp-route-title="@Model.Artwork.NormalizedTitle" alt="Click for more details" title="Click for more details">
            <h5 class="mb-1">@Html.DisplayFor(modelItem => Model.Artwork.Title)</h5>
        </a>
        <h6 class="small mb-1">@Html.DisplayFor(modelItem => Model.Artwork.Category) by <a asp-controller="Artist" asp-action="Index" asp-route-userName="@Model.Artwork.Artist.UserName" alt="Look through @Model.Artwork.Artist.Firstname @Model.Artwork.Artist.Lastname's artfolio" title="Look through @Model.Artwork.Artist.Firstname @Model.Artwork.Artist.Lastname's artfolio">@Model.Artwork.Artist.Lastname</a>, @Html.DisplayFor(modelItem => Model.Artwork.ReleaseDate)</h6>
        <img class="ccIcon" src="~/images/ccicons/@formatToImg(Model.Artwork.CCLicense.Acronym)" alt="CC @Model.Artwork.CCLicense.Title License" title="CC @Model.Artwork.CCLicense.Title License" />
    </div>
</div>