@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <button><a asp-area="" asp-controller="Home" asp-action="CurrentUser">CurrentUser</a></button>
        <button><a asp-area="" asp-controller="Discover" asp-action="Index">discover artworks</a></button>
        <button><a asp-area="" asp-controller="Artist" asp-action="Index">artists</a></button>
        <button><a asp-area="" asp-controller="Artwork" asp-action="Index">artwork</a></button>
        <button><a asp-area="" asp-controller="Artworks" asp-action="MyArtworks">my artworks</a></button>
        <button><a asp-area="" asp-controller="Messages" asp-action="Index">message</a></button>
        <h2>User list</h2>

        <table border="1">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NormalizedUserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NormalizedEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailConfirmed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PasswordHash)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SecurityStamp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LockoutEnd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LockoutEnabled)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccessFailedCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NormalizedUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NormalizedEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailConfirmed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PasswordHash)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecurityStamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LockoutEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LockoutEnabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccessFailedCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
