@model ArtistIndexViewModel
@inject SignInManager<Artist> SignInManager
@inject UserManager<Artist> UserManager
@{
    ViewData["Title"] = Model.Artist.Firstname + " " + Model.Artist.Lastname + "'s artfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
        <h1>@Model.Artist.Firstname @Model.Artist.Lastname</h1>
        <h2 class="small text-muted">artfolio.com/@Model.Artist.UserName</h2>
        <a href="#" class="openModal text-center" data-id="@Model.Artist.Id">@Model.Artist.Description</a>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
        <div class="profile-pic-nav" style="border-radius: 500px; box-shadow: 0 2px 4px lightgray; opacity: 1; overflow: hidden; width: 200px; height: 200px; display: flex; justify-content: center; align-items: center">
            <img src="~/images/avatars/@Model.Artist.PhotoFilePath" width="400" style="margin: auto" alt="profile picture" />
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
        <button class="btn btn-artfolio">send a message</button>
        <button class="btn btn-artfolio">follow</button>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-2 d-none d-lg-block">
        <h2 class="font-weight-lighter">collections</h2>
        @if (SignInManager.IsSignedIn(User) && UserManager.GetUserName(User) == Model.Artist.UserName)
        {
            <a href="#">add a collection</a>
        }
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
    </div>
    </div>


    <div class="col-md-7">
        <div class="d-flex justify-content-between">
            <h2 class="font-weight-lighter">artworks</h2>

            <div id="London" class="tabcontent">
                <h3>London</h3>
                <p>London is the capital city of England.</p>
            </div>

            <div id="Paris" class="tabcontent">
                <h3>Paris</h3>
                <p>Paris is the capital of France.</p>
            </div>

            <div id="Tokyo" class="tabcontent">
                <h3>Tokyo</h3>
                <p>Tokyo is the capital of Japan.</p>
            </div>
        </div>

    </div>
    <div class="col-md-2">
        <h2 class="font-weight-lighter">filters</h2>
    </div>

    <div class="d-none">
        <h1>Artist</h1>

        <ul>
            <li>@Html.DisplayFor(a => a.Artist.UserName)</li>
            <li>@Html.DisplayFor(a => a.Artist.DateOfBirth)</li>
            <li>@Html.DisplayFor(a => a.Artist.Firstname)</li>
            <li>@Html.DisplayFor(a => a.Artist.Lastname)</li>
            <li>@Html.DisplayFor(a => a.Artist.Nationality)</li>
            <li><img src="~/images/avatars/thumbnails/@Model.Artist.PhotoFilePath" /></li>

            @if (Model.Artist.FollowedBy.Count > 0)
            {
                <p>followedBy :</p>
                foreach (var followedBy in Model.Artist.FollowedBy)
                {
                    <p>@followedBy.FromArtist.Lastname @followedBy.FromArtist.Firstname @followedBy.FromArtist.UserName</p>
                }
            }

            @if (Model.Artist.Following.Count > 0)
            {
                <p>following :</p>
                foreach (var following in Model.Artist.Following)
                {
                    <p>@following.FromArtist.Lastname @following.FromArtist.Firstname @following.FromArtist.UserName</p>
                }
            }

            z

            @*if (SignInManager.IsSignedIn(User))
            {
                var maliste = Model.FollowedBy.Where(x => x.FromArtistId == UserManager.GetUserId(User));
                if (maliste != null)
                {
                    foreach (var followedBy in maliste)
                    {
                        <img class="ml-1 d-flex align-items-center" src="~/images/icons/star-outline.svg" width="15" alt="You follow this artist" title="You follow this artist" />
                        }
                    }
                }
            }*@
        </ul>
    </div>
</div>
