@model artfolio.ViewModels.ArtworkCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Artwork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- DOCUMENT -->
            <div class="form-group">
                <label asp-for="@Model.Document.IsMainDocument" class="form-check-label"></label>
                <input type="checkbox" asp-for="@Model.Document.IsMainDocument" class="form-check-input" />
                <span asp-validation-for="@Model.Document.IsMainDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Document.Media" class="control-label"></label>
                <select asp-for="@Model.Document.Media" asp-items="Html.GetEnumSelectList<DocumentMedia>()" class="form-control"></select>
                <span asp-validation-for="@Model.Document.Media" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.File" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="@Model.File" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose file</label>
                </div>
                <span asp-validation-for="@Model.File" class="text-danger"></span>
            </div>


            <!-- ARTWORK -->
            <div class="form-group">
                <label asp-for="@Model.Artwork.Title" class="control-label"></label>
                <input asp-for="@Model.Artwork.Title" class="form-control" />
                <span asp-validation-for="@Model.Artwork.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Artwork.Description" class="control-label"></label>
                <input asp-for="@Model.Artwork.Description" class="form-control" />
                <span asp-validation-for="@Model.Artwork.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Artwork.ReleaseDate" class="control-label"></label>
                <input asp-for="@Model.Artwork.ReleaseDate" class="form-control" />
                <span asp-validation-for="@Model.Artwork.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Artwork.Privacy" class="control-label"></label>
                <select asp-for="@Model.Artwork.Privacy" asp-items="Html.GetEnumSelectList<Visibility>()" class="form-control"></select>
                <span asp-validation-for="@Model.Artwork.Privacy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Artwork.License" class="control-label"></label>
                <select asp-for="@Model.Artwork.License" asp-items="Html.GetEnumSelectList<CreativeCommonsLicense>()" class="form-control"></select>
                <span asp-validation-for="@Model.Artwork.License" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Artwork.Category" class="control-label"></label>
                <select asp-for="@Model.Artwork.Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control"></select>
                <span asp-validation-for="@Model.Artwork.Category" class="text-danger"></span>
            </div>

            <!-- TAGS -->
            <!-- Il suffit juste d'indexer dans l'ordre et tout marche correctement -->
            <div class="form-group">
                <label asp-for="@Model.Tags[0].Name" class="control-label">Tag name</label>
                <input asp-for="@Model.Tags[0].Name" class="form-control" />
                <span asp-validation-for="@Model.Tags[0].Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Tags[1].Name" class="control-label">Tag name2</label>
                <input asp-for="@Model.Tags[1].Name" class="form-control" />
                <span asp-validation-for="@Model.Tags[1].Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Tags[2].Name" class="control-label">Tag name3</label>
                <input asp-for="@Model.Tags[2].Name" class="form-control" />
                <span asp-validation-for="@Model.Tags[2].Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
