@model IEnumerable<artfolio.Models.Artwork>

@{
    ViewData["Title"] = "Artworks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<ul>
    <li>Id :  @ViewData["currentId"]</li>
    <li>Name :  </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Privacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtworkTags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Privacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @foreach (var artworkTag in item.ArtworkTags)
                {
                    @artworkTag.Tag.Name
                    <br />
                }
            </td>
            <td>
                @foreach (var document in item.Documents)
                {
                    <img src="~/images/artworks/@document.FilePath" style="width: 50px; height: 50px" />
                    @document.IsMainDocument;
                    <br />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtworkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtworkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtworkId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
