@model ArtworkIndexViewModel
@inject SignInManager<Artist> SignInManager
@inject UserManager<Artist> UserManager

@{
    ViewData["Title"] = Model.Artwork.Title + ", by " + @Model.Artist.Firstname + " " + @Model.Artist.Lastname;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string formatToImg(string acromym)
    {
        return acromym + ".sm.png";
    }
}

@* ADMINISTRATION *@
@if (SignInManager.IsSignedIn(User) && UserManager.GetUserName(User) == Model.Artist.UserName)
{
    <div class="controls">
        <div class="col-lg-9 mx-auto">
            <div class="scroll-horizontal-controls">

                <div class="encart encart-div">
                    <h3>artwork infos</h3>
                    <div class="link-content">
                        <a href="#" data-toggle="modal" data-target="#editArtwork" title="edit the artwork infos" alt="edit the artwork infos">
                            edit
                        </a>
                    </div>
                </div>

                <div class="encart encart-div">
                    <a asp-controller="Artist" asp-action="Index" asp-route-userName="@Model.Artist.UserName" class="artist-card">
                        <div class="d-flex w-100 align-items-center">
                            <div class="profile-pic">
                                @if (Model.Artist.PhotoFilePath != null)
                                {
                                    <img src="~/images/avatars/thumbnails/@Html.DisplayFor(modelItem => Model.Artist.PhotoFilePath)" width="80" style="margin: auto" alt="profile picture" />
                                }
                            </div>
                            <div class="d-flex justify-content-between flex-grow-1">
                                <div class="ml-2 d-flex flex-column justify-content-center">
                                    <h6 class="m-0">
                                        @Html.DisplayFor(modelItem => Model.Artist.Firstname) @Html.DisplayFor(modelItem => Model.Artist.Lastname)
                                    </h6>
                                    <small class="m-0 text-muted">
                                        @Html.DisplayFor(modelItem => Model.Artist.UserName)
                                    </small>
                                </div>
                                @if (Model.Artist.FollowedBy.Count > 0)
                                {
                                    foreach (var followedBy in Model.Artist.FollowedBy)
                                    {
                                        if (followedBy.FromArtistId == UserManager.GetUserId(User))
                                        {
                                            <img class="ml-1 d-flex align-items-center" src="~/images/icons/star-outline.svg" width="15" alt="You follow this artist" title="You follow this artist" />
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </a>
                </div>

                <div class="encart encart-div">
                    <div class="link-content">
                        <a href="#" data-toggle="modal" data-target="#deleteArtwork"
                           class="following"
                           alt="delete artwork"
                           title="delete artwork">
                            <img src="~/images/icons/close-outline.svg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_EditArtwork.cshtml", Model.Artwork)
    @await Html.PartialAsync("_DeleteArtwork.cshtml", Model.Artwork)
}

<section class="artBig d-none d-md-flex">
    @if (Model.Artwork.Documents != null && Model.Artwork.Documents.Count > 0)
    {
        <img src="~/artworks/picture/@Model.Artwork.Documents[0].FilePath" alt="@Model.Artwork.Title, by @Model.Artist.Firstname @Model.Artist.Lastname">
    }
</section>

<section class="col-md-8 mx-auto d-flex my-5 justify-content-center align-items-center">

    @if (Model.Artwork.Documents != null && Model.Artwork.Documents.Count > 0)
    {
        <img style="max-width: 100%; max-height:700px; border-radius: 5px; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);" src="~/artworks/picture/@Model.Artwork.Documents[0].FilePath" alt="@Model.Artwork.Title, by @Model.Artist.Firstname @Model.Artist.Lastname">
    }
</section>

<section class="wideContainer">
    <section class="col-md-8 mx-auto my-2 my-md-4 py-5 text-center">
        <!-- Title -->

        <h1 class="font-weight-lighter">@Model.Artwork.Title</h1>
        <div class="scroll-horizontal-artists text-left mt-2 withoutwhite" style="background: none;">
            <a asp-controller="Artist" asp-action="Index" asp-route-userName="@Model.Artist.UserName" class="artist-card mx-auto">
                <div class="d-flex w-100 align-items-center">
                    <div class="profile-pic">
                        @if (Model.Artist.PhotoFilePath != null)
                        {
                            <img src="~/images/avatars/thumbnails/@Html.DisplayFor(modelItem => Model.Artist.PhotoFilePath)" width="80" style="margin: auto" alt="profile picture" />
                        }
                    </div>
                    <div class="d-flex justify-content-between flex-grow-1">
                        <div class="ml-2 d-flex flex-column justify-content-center">
                            <h6 class="m-0">
                                @Html.DisplayFor(modelItem => Model.Artist.Firstname) @Html.DisplayFor(modelItem => Model.Artist.Lastname)
                            </h6>
                            <small class="m-0 text-muted">
                                @Html.DisplayFor(modelItem => Model.Artist.UserName)
                            </small>
                        </div>
                        @if (Model.Artist.FollowedBy.Count > 0)
                        {
                            if (SignInManager.IsSignedIn(User))
                            {
                                foreach (var followedBy in Model.Artist.FollowedBy)
                                {
                                    if (followedBy.FromArtistId == UserManager.GetUserId(User))
                                    {
                                        <img class="ml-1 d-flex align-items-center" src="~/images/icons/star-outline.svg" width="15" alt="You follow this artist" title="You follow this artist" />
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </a>
        </div>

        <h6 class="font-weight-bold col-md-6 mx-auto">@Html.DisplayFor(modelItem => Model.Artwork.Description)</h6>
        <h6 class="small">Artwork released on @Html.DisplayFor(modelItem => Model.Artwork.ReleaseDate)</h6>
        @if (Model.Artwork.IsDerivating)
        {
            <h5>
                This work, "@Html.DisplayFor(modelItem => Model.Artwork.Title)", is a derivative of <a href="@Html.DisplayFor(modelItem => Model.Artwork.LinkDerivating)">
                    @Html.DisplayFor(modelItem => Model.Artwork.AuthorDerivating)'s artwork, used under CC @Html.DisplayFor(modelItem => Model.Artwork.LicenseDerivating)
                </a>
            </h5>

        }
        <h5>“@Html.DisplayFor(modelItem => Model.Artwork.Title)” by @Html.DisplayFor(modelItem => Model.Artist.Firstname) @Html.DisplayFor(modelItem => Model.Artist.Lastname) is licensed under <a href="@Html.DisplayFor(modelItem => Model.Artwork.CCLicense.LicenseDeedUrl)" alt="license deed" title="license deed">CC @Model.Artwork.CCLicense.Acronym.ToUpper() 4.0.</a></h5>
        <img style="width: 120px" src="~/images/ccicons/@formatToImg(Model.Artwork.CCLicense.Acronym)" alt="CC @Model.Artwork.CCLicense.Title License" title="CC @Model.Artwork.CCLicense.Title License" />

        <div class="d-flex justify-content-center mt-3">
            <div class="tag">
                @if (Model.Artwork.ArtworkTags.Count > 0)
                {
                    @foreach (var artworkTag in Model.Artwork.ArtworkTags)
                    {
                        <a asp-controller="Discover" asp-action="Index" asp-route-q="@ViewData["q"]" asp-route-tag="@artworkTag.Tag.Name" asp-route-category="@ViewData["category"]" alt="Search similar artworks with the tag '@artworkTag.Tag.Name'" title="Search similar artworks with the tag '@artworkTag.Tag.Name'">
                            @artworkTag.Tag.Name
                        </a>
                    }
                }
            </div>
        </div>
    </section>

    <section class="col-md-5 mx-auto my-2 mt-md-4 text-center" style="padding-bottom: 50px;">
        <hr />
        <h3 class="font-weight-lighter">Supports</h3>
        <br />
        @if (SignInManager.IsSignedIn(User))
        {
        <form asp-controller="Artwork" asp-action="Index" method="post">
            <input type="hidden" asp-for="@Model.ArtworkId" value="@Model.Artwork.ArtworkId" />
            <textarea asp-for="Support.Content" class="form-control" placeholder="leave a message!"></textarea>
            <span asp-validation-for="Support.Content" class="text-danger"></span>
            <br />
            <input type="submit" value="support" class="btn btn-artfolio" />
        </form>
        }
        else
        {
            <b>Register to send a message!</b>
        }

        @if (Model.Artwork.Supports.Count > 0)
        {
            @foreach (var support in Model.Artwork.Supports)
            {
                <div class="scroll-horizontal-artists text-left mt-2 withoutwhite" style="background: none; margin-bottom: 0;">

                    <a asp-controller="Artist" asp-action="Index" asp-route-userName="@Model.Artist.UserName" class="artist-card">
                        <div class="d-flex w-100 align-items-center">
                            <div class="profile-pic">
                                @if (support.Artist.PhotoFilePath != null)
                                {
                                    <img src="~/images/avatars/thumbnails/@Html.DisplayFor(modelItem => Model.Artist.PhotoFilePath)" width="80" style="margin: auto" alt="profile picture" />
                                }
                            </div>
                            <div class="d-flex justify-content-between flex-grow-1">
                                <div class="ml-2 d-flex flex-column justify-content-center">
                                    <h6 class="m-0">
                                        @Html.DisplayFor(modelItem => support.Artist.Firstname) @Html.DisplayFor(modelItem => Model.Artist.Lastname)
                                    </h6>
                                    <small class="m-0 text-muted">
                                        @Html.DisplayFor(modelItem => support.Artist.UserName)
                                    </small>
                                </div>
                                @if (support.Artist.FollowedBy.Count > 0)
                                {
                                    foreach (var followedBy in support.Artist.FollowedBy)
                                    {
                                        if (followedBy.FromArtistId == UserManager.GetUserId(User))
                                        {
                                            <img class="ml-1 d-flex align-items-center" src="~/images/icons/star-outline.svg" width="15" alt="You follow this artist" title="You follow this artist" />
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </a>
                </div>
                <ul class="text-left my-0 list-unstyled">
                    <li>@support.Content</li>
                    <li class="small font-weight-bold">Posted on @support.CreationDate</li>
                </ul>
            }
        }
        else
        {
            <h5 class="small"><b>be the 1st to support</b></h5>
        }
    </section>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}