@model ArtworkPublishViewModel

@{
    ViewData["Title"] = "publish an artwork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="col-md-8 mx-auto publish">

    <!-- Title -->
    <h1>@ViewData["Title"]</h1>

    <form asp-action="Publish" enctype="multipart/form-data" method="post">
        <div>
            <h4>choose what fits best your creation</h4>
            @*<div asp-validation-summary="All"></div>*@

            <hr />

            <div class="row">
                <div class="col-md-12 mx-auto d-flex flex-column align-items-center mb-4 py-4">
                    <h3 class="font-weight-lighter">select the terms you want</h3>

                    <div class="d-flex flex-wrap py-2" style="justify-content: space-evenly">
                        <input type="checkbox" class="cb1">
                        <input type="checkbox" class="cb2">
                        <input type="checkbox" class="cb3">
                        <input type="checkbox" class="cb4">
                        <input type="checkbox" class="cb5">
                    </div>

                    <input id="cc-license-value" type="hidden" asp-for="CreativeCommonsId" value="" />
                    <span asp-validation-for="CreativeCommonsId" class="text-danger"></span>

                    <div class="choice-license">
                        <p id="selection" style="font-weight: bold">Choose some terms to generate a license</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 nav nav-pills publish-menu flex-column">

                    <section class="w-100 artfolio-container">

                        <!-- Title -->
                        <h1 class="artfolio-container-header">upload</h1>

                        <!-- Content -->
                        <div class="artfolio-content">

                            <div class="form-group">
                                <label asp-for="@Model.Document.Media" class="control-label"></label>
                                <select asp-for="@Model.Document.Media" asp-items="Html.GetEnumSelectList<DocumentMedia>()" class="form-control"></select>
                                <span asp-validation-for="@Model.Document.Media" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.File" class="control-label"></label>
                                <div class="custom-file-2">
                                    <input asp-for="@Model.File" class="form-control custom-file-input-2" />
                                    <label class="custom-file-label-2">Choose file</label>
                                </div>
                                <span asp-validation-for="@Model.File" class="text-danger"></span>
                            </div>
                        </div>
                    </section>

                    <section class="w-100 artfolio-container">

                        <!-- Title -->
                        <h1 class="artfolio-container-header">derivating work</h1>

                        <!-- Content -->
                        <div class="artfolio-content">
                            <div class="form-group">
                                <label asp-for="Artwork.IsDerivating"></label>
                                @Html.CheckBoxFor(m => m.Artwork.IsDerivating, true)
                                <span asp-validation-for="Artwork.IsDerivating" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Artwork.LinkDerivating"></label>
                                <input type="text" asp-for="Artwork.LinkDerivating" class="form-control" placeholder="http://artist.com/artworkNo..." />
                                <span asp-validation-for="Artwork.LinkDerivating" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Artwork.LicenseDerivating"></label>
                                <input type="text" asp-for="Artwork.LicenseDerivating" class="form-control" placeholder="BY, BY-SA, BY-NC-SA" />
                                <span asp-validation-for="Artwork.LicenseDerivating" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Artwork.AuthorDerivating"></label>
                                <input type="text" asp-for="Artwork.AuthorDerivating" class="form-control" />
                                <span asp-validation-for="Artwork.AuthorDerivating" class="text-danger"></span>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-md-8">
                    <section class="w-100 mx-auto artfolio-container">

                        <!-- Title -->
                        <h1 class="artfolio-container-header">details</h1>

                        <!-- Content -->
                        <div class="artfolio-content">

                            @Html.ValidationMessage("error")
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="d-flex flex-wrap">
                                <div class="col-md-7 px-0">
                                    <div class="form-group">
                                        <label asp-for="@Model.Artwork.Title" class="control-label"></label>
                                        <input asp-for="@Model.Artwork.Title" class="form-control" />
                                        <span asp-validation-for="@Model.Artwork.Title" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-4 offset-md-1 px-0">
                                    <div class="form-group">
                                        <label asp-for="@Model.Artwork.Category" class="control-label"></label>
                                        <select asp-for="@Model.Artwork.Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control"></select>
                                        <span asp-validation-for="@Model.Artwork.Category" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap">
                                <div class="col-md-3 px-0">
                                    <div class="form-group">
                                        <label asp-for="@Model.Artwork.ReleaseDate" class="control-label"></label>
                                        <input asp-for="@Model.Artwork.ReleaseDate" class="form-control" />
                                        <span asp-validation-for="@Model.Artwork.ReleaseDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3 offset-md-1 px-0">
                                    <div class="form-group">
                                        <label asp-for="@Model.Artwork.Privacy" class="control-label"></label>
                                        <select asp-for="@Model.Artwork.Privacy" class="form-control">
                                            <option value="true">Visible by everyone</option>
                                            <option value="false">Not visible</option>
                                        </select>
                                        <span asp-validation-for="@Model.Artwork.Privacy" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-4 offset-md-1 px-0">
                                    <div class="form-group">
                                        <label asp-for="@Model.Tags.Name" class="control-label">Associated tags</label>
                                        <input asp-for="@Model.Tags.Name" class="form-control" data-role="tagsinput" />
                                        <span asp-validation-for="@Model.Tags.Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Artwork.Description" class="control-label"></label>
                                <textarea asp-for="@Model.Artwork.Description" class="form-control"></textarea>
                                <span asp-validation-for="@Model.Artwork.Description" class="text-danger"></span>
                            </div>

                            <div class="form-group d-flex justify-content-center">
                                <button type="submit" class="btn btn-artfolio" style="margin-top: 10px;">publish your artwork</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <script>
        //checkbox
        $('.cb1').each(function () {
            $(this).hide().after('<div class="class_cb"><div class="upper"><img src="@Url.Content("~/images/ccicons/licenseconditions/by.png")" alt="by" title="by" /><h6>Attribution</h6></div><p>People must credit you if they use your work</p></div>');
        });
        $('.cb2').each(function () {
            $(this).hide().after('<div class="class_cb"><div class="upper"><img src="@Url.Content("~/images/ccicons/licenseconditions/sa.png")" alt="sa" title="sa" /><h6>Share Alike</h6></div><p>If people modify your work, they have to license it under the same terms as yours</p></div>');
        });
        $('.cb3').each(function () {
            $(this).hide().after('<div class="class_cb"><div class="upper"><img src="@Url.Content("~/images/ccicons/licenseconditions/nc.png")" alt="nc" title="nc" /><h6>Non Commercial</h6></div><p>People can\'t use your work for commercial purposes</p></div>');
        });
        $('.cb4').each(function () {
            $(this).hide().after('<div class="class_cb"><div class="upper"><img src="@Url.Content("~/images/ccicons/licenseconditions/nd.png")" alt="nd" title="nd" /><h6>No Derivatives</h6></div><p>A modified version of your work can\'t be distributed</p></div>');
        });
        $('.cb5').each(function () {
            $(this).hide().after('<div class="class_cb"><div class="upper"><img src="@Url.Content("~/images/ccicons/licenseconditions/zero.png")" alt="zero" title="zero" /><h6>No Rights Reserved</h6></div><p>You decide to waive all interests and to put your work in public domain</p></div>');
        });

        $('.class_cb').on('click', function () {
            $(this).toggleClass('checked').prev().prop('checked', $(this).is('.checked'));

           if (!$('.cb1').is(":checked") && !$('.cb2').is(":checked") && !$('.cb3').is(":checked") && !$('.cb4').is(":checked") && !$('.cb5').is(":checked")) {
               $('#selection').replaceWith('<p id="selection" style="font-weight: bold">Choose some terms to generate a license</p>');
               $('#cc-license-value').val("");
            }
            else if ($('.cb1').is(":checked") && !$('.cb2').is(":checked") && !$('.cb3').is(":checked") && !$('.cb4').is(":checked") && !$('.cb5').is(":checked")) {
                if (!$('.img-choice-license').length) {
                    $('#selection').replaceWith('<img src="#" id="selection" class="img-choice-license" />');
                }
               $('.img-choice-license').attr("src", "@Url.Content("~/images/ccicons/by.png")");
               $('#cc-license-value').val("1");
            }
            else if ($('.cb1').is(":checked") && $('.cb3').is(":checked") && !$('.cb2').is(":checked") && !$('.cb4').is(":checked") && !$('.cb5').is(":checked")) {
                if (!$('.img-choice-license').length) {
                    $('#selection').replaceWith('<img src="#" id="selection" class="img-choice-license" />');
                }
               $('.img-choice-license').attr("src", "@Url.Content("~/images/ccicons/by-nc.png")");
               $('#cc-license-value').val("4");
            }
            else if ($('.cb1').is(":checked") && $('.cb3').is(":checked") && $('.cb2').is(":checked") && !$('.cb4').is(":checked") && !$('.cb5').is(":checked")) {
                if (!$('.img-choice-license').length) {
                    $('#selection').replaceWith('<img src="#" id="selection" class="img-choice-license" />');
                }
               $('.img-choice-license').attr("src", "@Url.Content("~/images/ccicons/by-nc-sa.png")");
               $('#cc-license-value').val("5");
            }
            else if ($('.cb1').is(":checked") && $('.cb3').is(":checked") && $('.cb4').is(":checked") && !$('.cb2').is(":checked") && !$('.cb5').is(":checked")) {
                if (!$('.img-choice-license').length) {
                    $('#selection').replaceWith('<img src="#" id="selection" class="img-choice-license" />');
                }
               $('.img-choice-license').attr("src", "@Url.Content("~/images/ccicons/by-nc-nd.png")");
               $('#cc-license-value').val("6");
            }
            else if ($('.cb1').is(":checked") && $('.cb4').is(":checked") && !$('.cb2').is(":checked") && !$('.cb3').is(":checked") && !$('.cb5').is(":checked")) {
                if (!$('.img-choice-license').length) {
                    $('#selection').replaceWith('<img src="#" id="selection" class="img-choice-license" />');
                }
               $('.img-choice-license').attr("src", "@Url.Content("~/images/ccicons/by-nd.png")");
               $('#cc-license-value').val("3");
            }
            else if ($('.cb1').is(":checked") && $('.cb2').is(":checked") && !$('.cb3').is(":checked") && !$('.cb4').is(":checked") && !$('.cb5').is(":checked")) {
                if (!$('.img-choice-license').length) {
                    $('#selection').replaceWith('<img src="#" id="selection" class="img-choice-license" />');
                }
               $('.img-choice-license').attr("src", "@Url.Content("~/images/ccicons/by-sa.png")");
               $('#cc-license-value').val("2");
            }
            else if ($('.cb5').is(":checked") && !$('.cb1').is(":checked") && !$('.cb2').is(":checked") && !$('.cb3').is(":checked") && !$('.cb4').is(":checked")) {
                if (!$('.img-choice-license').length) {
                    $('#selection').replaceWith('<img src="#" id="selection" class="img-choice-license" />');
                }
               $('.img-choice-license').attr("src", "@Url.Content("~/images/ccicons/cc-zero.png")");
               $('#cc-license-value').val("7");
            }
            else {
                    $('#selection').replaceWith('<p id="selection" style="font-weight: bold">This combination leads to something contradictory. Please verify your choices.</p>');
               $('#cc-license-value').val("");
            }
        });

        //upload file
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>

    <script src="~/js/tagsinput.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}