@model artfolio.ViewModels.ArtworkCreateViewModel

@{
    ViewData["Title"] = "Publish an artwork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center mb-4">
    <h2 class="font-weight-lighter">publish an artwork</h2>
</div>

<div class="multisteps-form">
    <!--progress bar-->
    <div class="row">
        <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
            <div class="multisteps-form__progress">
                <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">upload</button>
                <button class="multisteps-form__progress-btn" type="button" title="Address">license</button>
                <button class="multisteps-form__progress-btn" type="button" title="Order Info">release</button>
                <button class="multisteps-form__progress-btn" type="button" title="Comments">validation</button>
            </div>
        </div>
    </div>

    <!--form panels-->
    <div class="row">
        <div class="col-12 col-lg-8 m-auto">
            <form asp-action="Publish" enctype="multipart/form-data" method="post" class="multisteps-form__form">

                <!--single form panel-->
                <div class="multisteps-form__panel p-4 js-active" data-animation="slideHorz">
                    <h3 class="multisteps-form__title">choose a category</h3>
                    <div class="multisteps-form__content">

                        <div class="row justify-content-center">

                            <div class="form-group">
                                <label>
                                    <input class="category" type="radio" name="test" value="small" checked>
                                    <img src="~/images/icons/camera-outline.svg" width="50" alt="photography" />
                                </label>

                                <label>
                                    <input class="category" type="radio" value="big">
                                    <img src="~/images/icons/color-palette-outline.svg" width="50" alt="painting" />
                                </label>

                                <label>
                                    <input class="category" type="radio" name="test" value="small">
                                    <img src="~/images/icons/brush-outline.svg" width="50" alt="drawing" />
                                </label>
                                <label>
                                    <input class="category" type="radio" name="test" value="small">
                                    <img src="~/images/icons/book-outline.svg" width="50" alt="writing" />
                                </label>
                                <label>
                                    <input class="category" type="radio" name="test" value="small">
                                    <img src="~/images/icons/play-circle-outline.svg" width="50" alt="audio" />
                                </label>
                                <label>
                                    <input class="category" type="radio" name="test" value="small">
                                    <img src="~/images/icons/musical-notes-outline.svg" width="50" alt="sheet music" />
                                </label>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-4">
                                <h3>upload your artwork</h3>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input asp-for="@Model.File" class="form-control custom-file-input" accept="image/jpeg, image/png, application/pdf, audio/wav, audio/mp3" />
                                        <label class="custom-file-label">choose a file (.jpg, .png, .pdfm .wav or .mp3)</label>
                                    </div>
                                    <span asp-validation-for="@Model.File" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-7 offset-1">
                                <h3>description</h3>
                                <div class="form-group">
                                    <label asp-for="@Model.Document.Media" class="control-label"></label>
                                    <select asp-for="@Model.Document.Media" asp-items="Html.GetEnumSelectList<DocumentMedia>()" class="form-control"></select>
                                    <span asp-validation-for="@Model.Document.Media" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Artwork.Title" class="control-label"></label>
                                    <input asp-for="@Model.Artwork.Title" class="form-control" />
                                    <span asp-validation-for="@Model.Artwork.Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Artwork.Description" class="control-label"></label>
                                    <textarea asp-for="@Model.Artwork.Description" class="form-control" ></textarea>
                                    <span asp-validation-for="@Model.Artwork.Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="First Name" />
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Login" />
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="multisteps-form__input form-control" type="email" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <input class="multisteps-form__input form-control" type="password" placeholder="Password" />
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="multisteps-form__input form-control" type="password" placeholder="Repeat Password" />
                                </div>
                            </div>
                            <div class="button-row d-flex mt-4">
                                <button class="btn ml-auto btn-artfolio js-btn-next" type="button" title="Next">next</button>
                            </div>
                        </div>
                </div>
                <!--single form panel-->
                <div class="multisteps-form__panel  p-4  " data-animation="slideHorz">
                    <h3 class="multisteps-form__title">choose a license</h3>
                    <div class="multisteps-form__content">
                        <div class="form-row mt-4">
                            <div class="col">
                                <input class="multisteps-form__input form-control" type="text" placeholder="Address 1" />
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col">
                                <input class="multisteps-form__input form-control" type="text" placeholder="Address 2" />
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-12 col-sm-6">
                                <input class="multisteps-form__input form-control" type="text" placeholder="City" />
                            </div>
                            <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                <select class="multisteps-form__select form-control">
                                    <option selected="selected">State...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                <input class="multisteps-form__input form-control" type="text" placeholder="Zip" />
                            </div>
                        </div>
                        <div class="button-row d-flex mt-4">
                            <button class="btn btn-artfolio js-btn-prev" type="button" title="Prev">go back</button>
                            <button class="btn ml-auto btn-artfolio js-btn-next" type="button" title="Next">next</button>
                        </div>
                    </div>
                </div>
                <!--single form panel-->
                <div class="multisteps-form__panel p-4  " data-animation="slideHorz">
                    <h3 class="multisteps-form__title">choose a date of release</h3>
                    <div class="multisteps-form__content">
                        <div class="row">
                            <div class="col-12 col-md-6 mt-4">
                                <div class="card -sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Item Title</h5>
                                        <p class="card-text">Small and nice item description</p><a class="btn btn-primary" href="#" title="Item Link">Item Link</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mt-4">
                                <div class="card -sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Item Title</h5>
                                        <p class="card-text">Small and nice item description</p><a class="btn btn-primary" href="#" title="Item Link">Item Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-row d-flex mt-4 col-12">
                                <button class="btn btn-artfolio js-btn-prev" type="button" title="Prev">go back</button>
                                <button class="btn ml-auto btn-artfolio js-btn-next" type="button" title="Next">next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--single form panel-->
                <div class="multisteps-form__panel  p-4  " data-animation="slideHorz">
                    <h3 class="multisteps-form__title">validation</h3>
                    <div class="multisteps-form__content">
                        <div class="form-row mt-4">
                            <textarea class="multisteps-form__textarea form-control" placeholder="Additional Comments and Requirements"></textarea>
                        </div>
                        <div class="button-row d-flex mt-4">
                            <button class="btn btn-artfolio js-btn-prev" type="button" title="Prev">go back</button>
                            <button class="btn ml-auto btn-success js-btn-next" type="button" title="Send">publish artwork</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*
    <div class="row">
        <div class="col-12">
            <h4>Artwork</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Publish" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- DOCUMENT -->
                        <div class="form-group">
                            <label asp-for="@Model.Document.IsMainDocument" class="form-check-label"></label>
                            <input type="checkbox" asp-for="@Model.Document.IsMainDocument" class="form-check-input" />
                            <span asp-validation-for="@Model.Document.IsMainDocument" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Document.Media" class="control-label"></label>
                            <select asp-for="@Model.Document.Media" asp-items="Html.GetEnumSelectList<DocumentMedia>()" class="form-control"></select>
                            <span asp-validation-for="@Model.Document.Media" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.File" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="@Model.File" class="form-control custom-file-input" />
                                <label class="custom-file-label">Choose file</label>
                            </div>
                            <span asp-validation-for="@Model.File" class="text-danger"></span>
                        </div>


                        <!-- ARTWORK -->
                        <div class="form-group">
                            <label asp-for="@Model.Artwork.Title" class="control-label"></label>
                            <input asp-for="@Model.Artwork.Title" class="form-control" />
                            <span asp-validation-for="@Model.Artwork.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Artwork.Description" class="control-label"></label>
                            <input asp-for="@Model.Artwork.Description" class="form-control" />
                            <span asp-validation-for="@Model.Artwork.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Artwork.ReleaseDate" class="control-label"></label>
                            <input asp-for="@Model.Artwork.ReleaseDate" class="form-control" />
                            <span asp-validation-for="@Model.Artwork.ReleaseDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Artwork.Privacy" class="control-label"></label>
                            <select asp-for="@Model.Artwork.Privacy" asp-items="Html.GetEnumSelectList<Visibility>()" class="form-control"></select>
                            <span asp-validation-for="@Model.Artwork.Privacy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Artwork.License" class="control-label"></label>
                            <select asp-for="@Model.Artwork.License" asp-items="Html.GetEnumSelectList<CreativeCommonsLicense>()" class="form-control"></select>
                            <span asp-validation-for="@Model.Artwork.License" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Artwork.Category" class="control-label"></label>
                            <select asp-for="@Model.Artwork.Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control"></select>
                            <span asp-validation-for="@Model.Artwork.Category" class="text-danger"></span>
                        </div>

                        <!-- TAGS -->
                        <!-- Separation des tags par , ou ; -->
                        <div class="form-group">
                            <label asp-for="@Model.Tags.Name" class="control-label">Associated tags</label>
                            <input asp-for="@Model.Tags.Name" class="form-control" data-role="tagsinput" />
                            <span asp-validation-for="@Model.Tags.Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>*@

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous">
    </script>

    <script src="~/js/publish.js"></script>
    <script src="~/js/tagsinput.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
