@model SearchIndexViewModel
@inject SignInManager<Artist> SignInManager
@inject UserManager<Artist> UserManager

@{
    ViewData["Title"] = "Discover";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string categoryImageUrl = null;
    int[] i = new int[] { 0, 0, 0, 0 };
    int index = 0;

    string selection(string selection)
    {
        return (selection == (string)ViewData["category"]) ? "category-selected" : "";
    }

    string redirectCategory(string category)
    {
        return (@selection(category) != "") ? "" : category;
    }
    string redirectCC(string cc)
    {
        return cc == (string)ViewData["cc"] ? "" : cc;
    }
    string redirectRelease(string release)
    {
        return release == (string)ViewData["release"] ? "" : release;
    }
    string redirectFollowing(string following)
    {
        return following == (string)ViewData["following"] ? "" : following;
    }
}

<div class="col-md-9 mx-auto">
    <h2 class="font-weight-lighter">artists</h2>
    @if (!Model.Artists.Any())
    {
        <h6>No artist found</h6>
    }
    else
    {
        <div class="scroll-horizontal-artists">
            @foreach (var artist in Model.Artists)
            {
                <a asp-controller="Artist" asp-action="Index" asp-route-userName="@artist.UserName" class="artist-card">
                    <div class="d-flex w-100 align-items-center">
                        <div class="profile-pic">
                            @if (artist.PhotoFilePath != null)
                            {
                                <img src="~/images/avatars/thumbnails/@Html.DisplayFor(modelItem => artist.PhotoFilePath)" width="80" style="margin: auto" alt="profile picture" />
                            }
                        </div>
                        <div class="d-flex justify-content-between flex-grow-1">
                            <div class="ml-2 d-flex flex-column justify-content-center">
                                <h6 class="m-0">
                                    @Html.DisplayFor(modelItem => artist.Firstname) @Html.DisplayFor(modelItem => artist.Lastname)
                                </h6>
                                <small class="m-0 text-muted">
                                    @Html.DisplayFor(modelItem => artist.UserName)
                                </small>
                            </div>
                            @if (artist.FollowedBy.Count > 0)
                            {
                                if (SignInManager.IsSignedIn(User))
                                {
                                    foreach (var followedBy in artist.FollowedBy)
                                    {
                                        if (followedBy.FromArtistId == UserManager.GetUserId(User))
                                        {
                                            <img class="ml-1 d-flex align-items-center" src="~/images/icons/star-outline.svg" width="15" alt="You follow this artist" title="You follow this artist" />
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </a>
            }
        </div>
    }
</div>

<div class="col-10 mx-auto d-flex justify-content-center">

    <div class="col-md-9">
        <div class="d-flex justify-content-between">
            <h2 class="font-weight-lighter">artworks</h2>

            @* --- CATEGORIES --- *@
            <div>
                @foreach (Category category in Enum.GetValues(typeof(Category)))
                {
                    categoryImageUrl = "images/icons/categories/" + category.ToString() + ".svg";
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@redirectCategory(category.ToString())"
                       asp-route-cc="@ViewData["cc"]"
                       asp-route-release="@ViewData["release"]"
                       asp-route-following="@ViewData["following"]"
                       class="btn btn-artfolio font-weight-light btn-category @selection(category.ToString())" role="button" alt="@category.ToString()" title="@category.ToString()">
                        <img src="~/@categoryImageUrl" width="25" alt="@category.ToString()" />
                    </a>
                }
            </div>
            @* --- ENDCATEGORIES --- *@
        </div>

        @if (!Model.Artworks.Any())
        {
            <h6>No artwork found</h6>
        }
        else
        {
            <div class="row-card p-0 m-0">
                @for (int col = 0; col < 4; col++)
                {
                    index = 0;
                    <div class="column-card">
                        @foreach (var artwork in Model.Artworks)
                        {
                            @if (index % 4 == col)
                            {
                                @await Html.PartialAsync("_ArtworkCard", new ArtworkCardPartialViewModel { Artwork = artwork })
                            }
                            index++;
                        }
                    </div>
                }
            </div>
        }
    </div>

    <div class="col-md-2 artfolio-content">
        <h2 class="font-weight-lighter">filter</h2>

        <form class="small-form" method="get"
              asp-controller="Discover"
              asp-action="Index">
            <div class="input-group px-1 py-1">
                @if (!string.IsNullOrEmpty((string)ViewData["q"]))
                {
                    <input type="hidden" name="q" value="@ViewData["q"]" />
                }
                <input name="tag" placeholder="Filter by tag" value="@ViewData["tag"]" class="form-control mr-md-2 form-artfolio" type="text">

                @if (!string.IsNullOrEmpty((string)ViewData["category"]))
                {
                    <input type="hidden" name="category" value="@ViewData["category"]" />
                }
                @if (!string.IsNullOrEmpty((string)ViewData["cc"]))
                {
                    <input type="hidden" name="cc" value="@ViewData["cc"]" />
                }
                @if (!string.IsNullOrEmpty((string)ViewData["release"]))
                {
                    <input type="hidden" name="release" value="@ViewData["release"]" />
                }
                @if (!string.IsNullOrEmpty((string)ViewData["following"]))
                {
                    <input type="hidden" name="following" value="@ViewData["following"]" />
                }
                <span class="input-group-append">
                    <button class="btn btn-artfolio btn-category" value="filter" type="submit">
                        <img src="~/images/icons/arrow-forward-outline.svg" width="20" />
                    </button>
                </span>
            </div>
        </form>

        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-controller="Discover"
               asp-action="Index"
               asp-route-q="@ViewData["q"]"
               asp-route-tag="@ViewData["tag"]"
               asp-route-category="@ViewData["category"]"
               asp-route-cc="@ViewData["by"]"
               asp-route-release="@ViewData["release"]"
               asp-route-following="@redirectFollowing("true")">see only the artist I follow</a>
        }

        <h3>license</h3>
        <a asp-controller="Discover"
           asp-action="Index"
           asp-route-q="@ViewData["q"]"
           asp-route-tag="@ViewData["tag"]"
           asp-route-category="@ViewData["category"]"
           asp-route-cc="@redirectCC("by")"
           asp-route-release="@ViewData["release"]"
           asp-route-following="@ViewData["following"]">
            <img src="~/images/ccicons/by.sm.png" width="100" />
        </a>
        <a asp-controller="Discover"
           asp-action="Index"
           asp-route-q="@ViewData["q"]"
           asp-route-tag="@ViewData["tag"]"
           asp-route-category="@ViewData["category"]"
           asp-route-cc="@redirectCC("by-sa")"
           asp-route-release="@ViewData["release"]"
           asp-route-following="@ViewData["following"]">
            <img src="~/images/ccicons/by-sa.sm.png" width="100" />
        </a>
        <a asp-controller="Discover"
           asp-action="Index"
           asp-route-q="@ViewData["q"]"
           asp-route-tag="@ViewData["tag"]"
           asp-route-category="@ViewData["category"]"
           asp-route-cc="@redirectCC("by-nc")"
           asp-route-release="@ViewData["release"]"
           asp-route-following="@ViewData["following"]">
            <img src="~/images/ccicons/by-nc.sm.png" width="100" />
        </a>
        <a asp-controller="Discover"
           asp-action="Index"
           asp-route-q="@ViewData["q"]"
           asp-route-tag="@ViewData["tag"]"
           asp-route-category="@ViewData["category"]"
           asp-route-cc="@redirectCC("by-nd")"
           asp-route-release="@ViewData["release"]"
           asp-route-following="@ViewData["following"]">
            <img src="~/images/ccicons/by-nd.sm.png" width="100" />
        </a>
        <a asp-controller="Discover"
           asp-action="Index"
           asp-route-q="@ViewData["q"]"
           asp-route-tag="@ViewData["tag"]"
           asp-route-category="@ViewData["category"]"
           asp-route-cc="@redirectCC("by-nc-nd")"
           asp-route-release="@ViewData["release"]"
           asp-route-following="@ViewData["following"]">
            <img src="~/images/ccicons/by-nc-nd.sm.png" width="100" />
        </a>
        <a asp-controller="Discover"
           asp-action="Index"
           asp-route-q="@ViewData["q"]"
           asp-route-tag="@ViewData["tag"]"
           asp-route-category="@ViewData["category"]"
           asp-route-cc="@redirectCC("by-nc-sa")"
           asp-route-release="@ViewData["release"]"
           asp-route-following="@ViewData["following"]">
            <img src="~/images/ccicons/by-nc-sa.sm.png" width="100" />
        </a>

        <h3>sort by release</h3>
        <div class="d-flex flex-column">
            <a asp-controller="Discover"
               asp-action="Index"
               asp-route-q="@ViewData["q"]"
               asp-route-tag="@ViewData["tag"]"
               asp-route-category="@ViewData["category"]"
               asp-route-cc="@ViewData["cc"]"
               asp-route-release="@redirectRelease("latest")"
               asp-route-following="@ViewData["following"]">
                latest
            </a>
            <a asp-controller="Discover"
               asp-action="Index"
               asp-route-q="@ViewData["q"]"
               asp-route-tag="@ViewData["tag"]"
               asp-route-category="@ViewData["category"]"
               asp-route-cc="@ViewData["cc"]"
               asp-route-release="@redirectRelease("oldest")"
               asp-route-following="@ViewData["following"]">
                oldest
            </a>
        </div>
    </div>
</div>