@model SearchIndexViewModel
@inject SignInManager<Artist> SignInManager
@inject UserManager<Artist> UserManager

@{
    ViewData["Title"] = "Discover";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string categoryImageUrl = null;
    int[] i = new int[] { 0, 0, 0, 0 };
    int index = 0;

    string selection(string selection)
    {
        return (selection == (string)ViewData["category"]) ? "selected" : "";
    }
    string redirectCategory(string category)
    {
        return (@selection(category) != "") ? "" : category;
    }
}

<div class="col-10 mx-auto d-flex justify-content-center">
    <div class="col-md-2 d-none d-lg-block">
        <h2 class="font-weight-lighter">artists</h2>
        @if (!Model.Artists.Any())
        {
            <h6>No artist found</h6>
        }
        else
        {
            <div class="list-group">
                @foreach (var artist in Model.Artists)
                {
                    <a asp-controller="Artist" asp-action="Index" asp-route-userName="@artist.UserName" class="artists-list list-group-item list-group-item-action flex-column align-items-start pl-2 pr-3 py-2">
                        <div class="d-flex w-100 align-items-center">
                            <div class="profile-pic-nav d-none d-lg-flex" style="overflow: hidden; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center">
                                <img src="~/images/avatars/thumbnails/@Html.DisplayFor(modelItem => artist.PhotoFilePath)" width="80" style="margin: auto" alt="profile picture" />
                            </div>
                            <div class="d-flex justify-content-between flex-grow-1">
                                <div class="ml-2 d-flex flex-column justify-content-center">
                                    <h6 class="m-0">
                                        @Html.DisplayFor(modelItem => artist.Firstname) @Html.DisplayFor(modelItem => artist.Lastname)
                                    </h6>
                                    <small class="m-0 text-muted">
                                        @Html.DisplayFor(modelItem => artist.UserName)
                                    </small>
                                </div>
                                @if (artist.FollowedBy.Count > 0)
                                {
                                    if (SignInManager.IsSignedIn(User))
                                    {
                                        foreach (var followedBy in artist.FollowedBy)
                                        {
                                            if (followedBy.FromArtistId == UserManager.GetUserId(User))
                                            {
                                                <img class="ml-1 d-flex align-items-center" src="~/images/icons/star-outline.svg" width="15" alt="You follow this artist" title="You follow this artist" />
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
    </div>

    <div class="col-md-7">
        <div class="d-flex justify-content-between">
            <h2 class="font-weight-lighter">artworks</h2>

            @* --- CATEGORIES --- *@
            <div>
                @foreach (Category category in Enum.GetValues(typeof(Category)))
                {
                    categoryImageUrl = "images/icons/categories/" + category.ToString() + ".svg";
                    <a asp-controller="Discover" asp-action="Index" asp-route-q="@ViewData["q"]" asp-route-tag="@ViewData["tag"]" asp-route-category="@redirectCategory(category.ToString())" class="btn btn-artfolio font-weight-light btn-category @selection(category.ToString())" role="button" alt="@category.ToString()" title="@category.ToString()">
                        <img src="~/@categoryImageUrl" width="25" alt="@category.ToString()" />
                    </a>
                }
            </div>
            @* --- ENDCATEGORIES --- *@
        </div>

        @if (!Model.Artworks.Any())
        {
            <h6>No artwork found</h6>
        }
        else
        {
            <div class="row-card p-0 m-0">
                @for (int col = 0; col < 4; col++)
                {
                    index = 0;
                    <div class="column-card">
                        @foreach (var artwork in Model.Artworks)
                        {
                            @if (index % 4 == col)
                            {
                                @await Html.PartialAsync("_ArtworkCard", new ArtworkCardPartialViewModel { Artwork = artwork })
                            }
                            index++;
                        }
                    </div>
                }
            </div>
        }
    </div>

    <div class="col-md-2 artfolio-content">
        <h2 class="font-weight-lighter">filters</h2>
        <form asp-controller="Discover" asp-action="Index" method="get">
            <input type="hidden" name="q" value="@ViewData["q"]" />
            <input type="search" name="tag" placeholder="Filter by tag" style="padding: 7px 12px; border: 1px solid lightgray; border-radius: 5px;">
            @if (!String.IsNullOrEmpty((string)ViewData["category"]))
            {
                <input type="hidden" name="category" value="@ViewData["category"]" />
            }
            <input type="submit" value="filter" class="btn btn-artfolio" />
        </form>
        <ul>
            <li><a href="#">CC0</a></li>
            <li><a href="#">CC1</a></li>
            <li><a href="#">CC2</a></li>
            <li><a href="#">CC3</a></li>
            <li><a href="#">CC4...</a></li>

            <li><a href="#">latest releases</a></li>
            <li><a href="#">oldest releases</a></li>
            <li><a href="#">alphabetical order</a></li>
            <li><a href="#">reverse alphabetical order</a></li>
            <li><a href="#">see only the artist I follow</a></li>
        </ul>
        <hr />
        <ul>
            <li>Released after ...</li>
            <li>Released before ...</li>
        </ul>
    </div>
</div>