@model SearchIndexViewModel
@inject SignInManager<Artist> SignInManager
@inject UserManager<Artist> UserManager

@{
    ViewData["Title"] = "Discover";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string categoryImageUrl = null;
    int[] i = new int[] { 0, 0, 0, 0, 0 };
    int index = 0;

    string selection(string selection)
    {
        return (selection == (string)ViewData["category"]) ? "selected" : "";
    }

    string redirectCategory(string category)
    {
        return (@selection(category) != "") ? "" : category;
    }

    string redirectCC(string cc)
    {
        return cc == (string)ViewData["cc"] ? "" : cc;
    }
    string selectionCC(string selection)
    {
        return (selection == (string)ViewData["cc"]) ? "selected" : "";
    }

    string redirectRelease(string release)
    {
        return release == (string)ViewData["release"] ? "" : release;
    }
    string selectionRelease(string selection)
    {
        return (selection == (string)ViewData["release"]) ? "selected" : "";
    }

    string redirectFollowing(string following)
    {
        return following == (string)ViewData["following"] ? "" : following;
    }
    string selectionFollowing(string selection)
    {
        return (selection == (string)ViewData["following"]) ? "selected" : "";
    }
}
<div class="filters">
    <div class="col-lg-9 mx-auto">
        <div class="scroll-horizontal-filters">

            <div class="encart encart-filter categories">
                @foreach (Category category in Enum.GetValues(typeof(Category)))
                {
                    categoryImageUrl = "images/icons/categories/" + category.ToString() + ".svg";
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@redirectCategory(category.ToString())"
                       asp-route-cc="@ViewData["cc"]"
                       asp-route-release="@ViewData["release"]"
                       asp-route-following="@ViewData["following"]"
                       class="@selection(category.ToString())" alt="@category.ToString()" title="@category.ToString()">
                        <img src="~/@categoryImageUrl" width="25" alt="@category.ToString()" />
                    </a>
                }
            </div>

            <form class="encart tag-form" method="get"
                  asp-controller="Discover"
                  asp-action="Index">
                <div class="input-group">
                    @if (!string.IsNullOrEmpty((string)ViewData["q"]))
                    {
                        <input type="hidden" name="q" value="@ViewData["q"]" />
                    }
                    <input name="tag" placeholder="filter by tag" value="@ViewData["tag"]" class="form-control form-artfolio" type="text">
                    @if (!string.IsNullOrEmpty((string)ViewData["category"]))
                    {
                        <input type="hidden" name="category" value="@ViewData["category"]" />
                    }
                    @if (!string.IsNullOrEmpty((string)ViewData["cc"]))
                    {
                        <input type="hidden" name="cc" value="@ViewData["cc"]" />
                    }
                    @if (!string.IsNullOrEmpty((string)ViewData["release"]))
                    {
                        <input type="hidden" name="release" value="@ViewData["release"]" />
                    }
                    @if (!string.IsNullOrEmpty((string)ViewData["following"]))
                    {
                        <input type="hidden" name="following" value="@ViewData["following"]" />
                    }
                    <span class="input-group-append">
                        <button class="btn btn-artfolio btn-category" value="filter" type="submit">
                            <img src="~/images/icons/arrow-forward-outline.svg" width="20" />
                        </button>
                    </span>
                </div>
            </form>

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="encart encart-filter">
                    <div class="link-content">
                        <a asp-controller="Discover"
                           asp-action="Index"
                           asp-route-q="@ViewData["q"]"
                           asp-route-tag="@ViewData["tag"]"
                           asp-route-category="@ViewData["category"]"
                           asp-route-cc="@ViewData["by"]"
                           asp-route-release="@ViewData["release"]"
                           asp-route-following="@redirectFollowing("true")"
                           class="following @selectionFollowing("true")"
                           alt="see only my favourite artists and their artworks"
                           title="see only my favourite artists and their artworks">
                            <img src="~/images/icons/star-outline.svg" />
                        </a>
                    </div>
                </div>
            }

            <div class="encart encart-filter">
                <h3>sort by release</h3>
                <div class="link-content">
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@ViewData["category"]"
                       asp-route-cc="@ViewData["cc"]"
                       asp-route-release="@redirectRelease("latest")"
                       asp-route-following="@ViewData["following"]"
                       class="@selectionRelease("latest")">
                        latest
                    </a>
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@ViewData["category"]"
                       asp-route-cc="@ViewData["cc"]"
                       asp-route-release="@redirectRelease("oldest")"
                       asp-route-following="@ViewData["following"]"
                       class="@selectionRelease("oldest")">
                        oldest
                    </a>
                </div>
            </div>

            <div class="encart encart-filter">
                <h3>sort by license</h3>
                <div class="link-content">
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@ViewData["category"]"
                       asp-route-cc="@redirectCC("by")"
                       asp-route-release="@ViewData["release"]"
                       asp-route-following="@ViewData["following"]"
                       class="@selectionCC("by")">
                        @*<img src="~/images/ccicons/by.sm.png" />*@
                        BY-SM
                    </a>
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@ViewData["category"]"
                       asp-route-cc="@redirectCC("by-sa")"
                       asp-route-release="@ViewData["release"]"
                       asp-route-following="@ViewData["following"]"
                       class="@selectionCC("by-sa")">
                        @*<img src="~/images/ccicons/by-sa.sm.png" />*@
                        BY-SA
                    </a>
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@ViewData["category"]"
                       asp-route-cc="@redirectCC("by-nc")"
                       asp-route-release="@ViewData["release"]"
                       asp-route-following="@ViewData["following"]"
                       class="@selectionCC("by-nc")">
                        @*<img src="~/images/ccicons/by-nc.sm.png" />*@
                        BY-NC
                    </a>
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@ViewData["category"]"
                       asp-route-cc="@redirectCC("by-nd")"
                       asp-route-release="@ViewData["release"]"
                       asp-route-following="@ViewData["following"]"
                       class="@selectionCC("by-nd")">
                        @*<img src="~/images/ccicons/by-nd.sm.png" />*@
                        BY-ND
                    </a>
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@ViewData["category"]"
                       asp-route-cc="@redirectCC("by-nc-nd")"
                       asp-route-release="@ViewData["release"]"
                       asp-route-following="@ViewData["following"]"
                       class="@selectionCC("by-nc-nd")">
                        @*<img src="~/images/ccicons/by-nc-nd.sm.png" />*@
                        BY-NC-ND
                    </a>
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@ViewData["category"]"
                       asp-route-cc="@redirectCC("by-nc-sa")"
                       asp-route-release="@ViewData["release"]"
                       asp-route-following="@ViewData["following"]"
                       class="@selectionCC("by-nc-sa")">
                        @*<img src="~/images/ccicons/by-nc-sa.sm.png" />*@
                        BY-NC-SA
                    </a>
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       asp-route-tag="@ViewData["tag"]"
                       asp-route-category="@ViewData["category"]"
                       asp-route-cc="@redirectCC("cc-zero")"
                       asp-route-release="@ViewData["release"]"
                       asp-route-following="@ViewData["following"]"
                       class="@selectionCC("cc-zero")">
                        @*<img src="~/images/ccicons/cc-zero.sm.png" />*@
                        CC0
                    </a>
                </div>
            </div>

            <div class="encart encart-filter">
                <div class="link-content">
                    <a asp-controller="Discover"
                       asp-action="Index"
                       asp-route-q="@ViewData["q"]"
                       class="following"
                       alt="no filter"
                       title="no filter">
                        <img src="~/images/icons/close-outline.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-9 mx-auto">
    <h2 class="font-weight-lighter">artists</h2>
    @if (!Model.Artists.Any())
    {
        <h6>No artist found</h6>
    }
    else
    {
        <div class="scroll-horizontal-artists">
            @foreach (var artist in Model.Artists)
            {
                <a asp-controller="Artist" asp-action="Index" asp-route-userName="@artist.UserName" class="artist-card">
                    <div class="d-flex w-100 align-items-center">
                        <div class="profile-pic">
                            @if (artist.PhotoFilePath != null)
                            {
                                <img src="~/images/avatars/thumbnails/@Html.DisplayFor(modelItem => artist.PhotoFilePath)" width="80" style="margin: auto" alt="profile picture" />
                            }
                        </div>
                        <div class="d-flex justify-content-between flex-grow-1">
                            <div class="ml-2 d-flex flex-column justify-content-center">
                                <h6 class="m-0">
                                    @Html.DisplayFor(modelItem => artist.Firstname) @Html.DisplayFor(modelItem => artist.Lastname)
                                </h6>
                                <small class="m-0 text-muted">
                                    @Html.DisplayFor(modelItem => artist.UserName)
                                </small>
                            </div>
                            @if (artist.FollowedBy.Count > 0)
                            {
                                if (SignInManager.IsSignedIn(User))
                                {
                                    foreach (var followedBy in artist.FollowedBy)
                                    {
                                        if (followedBy.FromArtistId == UserManager.GetUserId(User))
                                        {
                                            <img class="ml-1 d-flex align-items-center" src="~/images/icons/star-outline.svg" width="15" alt="You follow this artist" title="You follow this artist" />
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </a>
            }
        </div>
    }
</div>

<div class="col-md-9 mx-auto artwork-container">
    <h2 class="font-weight-lighter">artworks</h2>

    @if (!Model.Artworks.Any())
    {
        <h6>No artwork found</h6>
    }
    else
    {
        <div class="row-card p-0 m-0">
            @for (int col = 0; col < 5; col++)
            {
                index = 0;
                <div class="column-card">
                    @foreach (var artwork in Model.Artworks)
                    {
                        @if (index % 5 == col)
                        {
                            @await Html.PartialAsync("_ArtworkCard", new ArtworkCardPartialViewModel { Artwork = artwork })
                        }
                        index++;
                    }
                </div>
            }
        </div>
    }
</div>