@model IEnumerable<artfolioensc.Models.Artwork>

@{
    ViewData["Title"] = "MyArtworks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyArtworks</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Privacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Privacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtworkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtworkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtworkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
