@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data" method="post">
            <h1>@ViewData["Title"]</h1>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Avatar" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Input.Avatar" type="file" id="imgUploaded" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose file</label>

                    <div style="width: 200px; height: 200px; border-radius: 500px; overflow: hidden; display: flex; justify-content: center; align-items: center">
                        <img id="imgPreview" src="#" width="400" alt="profile picture" />
                    </div>
                </div>
                <span asp-validation-for="Input.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Artist.Lastname"></label>
                <input asp-for="Input.Artist.Lastname" class="form-control" />
                <span asp-validation-for="Input.Artist.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Artist.Firstname"></label>
                <input asp-for="Input.Artist.Firstname" class="form-control" />
                <span asp-validation-for="Input.Artist.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Artist.DateOfBirth"></label>
                <input asp-for="Input.Artist.DateOfBirth" class="form-control" />
                <span asp-validation-for="Input.Artist.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Artist.Nationality"></label>
                <select asp-for="Input.Artist.Nationality" asp-items="Html.GetEnumSelectList<Nationality>()" class="form-control">
                    <option selected disabled>Please select one</option>
                </select>
                <span asp-validation-for="Input.Artist.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Artist.Gender"></label>
                <select asp-for="Input.Artist.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                    <option selected disabled>Please select one</option>
                </select>
                <span asp-validation-for="Input.Artist.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AspNetUser.Email"></label>
                <input asp-for="Input.AspNetUser.Email" class="form-control" />
                <span asp-validation-for="Input.AspNetUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AspNetUser.ConfirmEmail"></label>
                <input asp-for="Input.AspNetUser.ConfirmEmail" class="form-control" />
                <span asp-validation-for="Input.AspNetUser.ConfirmEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AspNetUser.Password"></label>
                <input asp-for="Input.AspNetUser.Password" class="form-control" />
                <span asp-validation-for="Input.AspNetUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AspNetUser.ConfirmPassword"></label>
                <input asp-for="Input.AspNetUser.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.AspNetUser.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-inline">
                <label asp-for="Input.Artist.IsPubliclyVisible"></label>
                <input type="radio" asp-for="Input.Artist.IsPubliclyVisible" value="true" id="IsPubliclyVisible" checked />Yes<br />
                <input type="radio" asp-for="Input.Artist.IsPubliclyVisible" value="false" id="IsPubliclyVisible" />No<br />
                <span asp-validation-for="Input.Artist.IsPubliclyVisible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Artist.PublicLink"></label>
                <input asp-for="Input.Artist.PublicLink" class="form-control" />
                <span asp-validation-for="Input.Artist.PublicLink" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@

@section Scripts {
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgUploaded").change(function () {
            readURL(this);
        });

        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
