@page
@model RegisterModel
@{
    ViewData["Title"] = "sign up";
}

<section class="col-md-6 mx-auto artfolio-container">

    <!-- Title -->
    <h1 class="artfolio-container-header">@ViewData["Title"]</h1>

    <!-- Content -->
    <form asp-route-returnUrl="@Model.ReturnUrl" class="artfolio-content" enctype="multipart/form-data" method="post">

        @*<div asp-validation-summary="All" class="text-danger"></div>*@

        <h3>credentials</h3>

        <div class="d-flex flex-wrap justify-content-between">

            <div class="col-md-4 px-0">
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <div><label asp-for="UserName" class="m-0"></label>*</div>
                        <div data-container="body" data-toggle="popover" data-placement="auto" data-content="Your user name will be needed to sign in and to find you on artfolio.">
                            <img src="~/images/icons/info.svg" title="Help" alt="Help" width="16" />
                        </div>
                    </div>
                    <p class="small m-0 text-muted" style="margin-bottom: 3px">artfolio.com/<em>your-user-name</em></p>

                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <div><label asp-for="Email"></label>*</div>
                        <div data-container="body" data-toggle="popover" data-placement="auto" data-content="Your email will only be used to validate your registration and in case you forgot your password. It will not be shared and visible online.">
                            <img src="~/images/icons/info.svg" title="Help" alt="Help" width="16" style="margin:0;padding:0;" />
                        </div>
                    </div>
                    <input asp-for="Email" placeholder="example@example.com" class="form-control" />
                    @*<span asp-validation-for="Input.AspNetUser.Email" class="text-danger"></span>*@
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-7 offset-md-1 px-0">
                <div class="form-group">
                    <div><label asp-for="Input.AspNetUser.Password" class="m-0"></label>*</div>
                    <p class="small m-0 text-muted" style="margin-bottom: 3px">at least 6 characters</p>
                    <input asp-for="Input.AspNetUser.Password" class="form-control" />
                    <span asp-validation-for="Input.AspNetUser.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div><label asp-for="Input.AspNetUser.ConfirmPassword"></label>*</div>
                    <input asp-for="Input.AspNetUser.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.AspNetUser.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br />
        <h3>profile</h3>
        <div class="d-flex flex-wrap">
            <div class="col-md-4 px-0">
                <div class="form-group">

                    <div class="d-flex justify-content-between">
                        <label asp-for="Input.Avatar"></label>
                        <div data-container="body" data-toggle="popover" data-placement="auto" data-content="This will be public.">
                            <img src="~/images/icons/info.svg" title="Help" alt="Help" width="16" />
                        </div>
                    </div>
                    <div class="custom-file">
                        <input asp-for="Input.Avatar" type="file" id="imgUploaded" class="custom-file-input" />
                        <label class="custom-file-label">Choose file</label>

                        <div id="divPreview">
                            <div id="imgPreview"></div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Avatar" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-7 offset-md-1 px-0">
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <div><label asp-for="Input.Artist.Lastname"></label>*</div>
                        <div data-container="body" data-toggle="popover" data-placement="auto" data-content="This will be public.">
                            <img src="~/images/icons/info.svg" title="Help" alt="Help" width="16" />
                        </div>
                    </div>
                    <input asp-for="Input.Artist.Lastname" class="form-control" />
                    <span asp-validation-for="Input.Artist.Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <div><label asp-for="Input.Artist.Firstname"></label>*</div>
                        <div data-container="body" data-toggle="popover" data-placement="auto" data-content="This will be public.">
                            <img src="~/images/icons/info.svg" title="Help" alt="Help" width="16" />
                        </div>
                    </div>
                    <input asp-for="Input.Artist.Firstname" class="form-control" />
                    <span asp-validation-for="Input.Artist.Firstname" class="text-danger"></span>
                </div>

                <div class="d-flex flex-wrap justify-content-between">
                    <div class="col-md-5 px-0 form-group">
                        <div class="d-flex justify-content-between">
                            <div><label asp-for="Input.Artist.DateOfBirth"></label>*</div>
                            <div data-container="body" data-toggle="popover" data-placement="auto" data-content="Your age will be public. Your exact birthdate will remain confidential.">
                                <img src="~/images/icons/info.svg" title="Help" alt="Help" width="16" />
                            </div>
                        </div>
                        <input asp-for="Input.Artist.DateOfBirth" class="form-control" />
                        <span asp-validation-for="Input.Artist.DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 px-0 form-group">
                        <div class="d-flex justify-content-between">
                            <div><label asp-for="Input.Artist.Gender"></label>*</div>
                            <div data-container="body" data-toggle="popover" data-placement="auto" data-content="Your choice will be public.">
                                <img src="~/images/icons/info.svg" title="Help" alt="Help" width="16" />
                            </div>
                        </div>
                        <select asp-for="Input.Artist.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                            <option selected disabled>Please select one</option>
                        </select>
                        <span asp-validation-for="Input.Artist.Gender" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap">

            <div class="col-md-4 px-0 form-group">

                <div class="d-flex justify-content-between">
                    <div><label asp-for="Input.Artist.IsPubliclyVisible"></label>*</div>
                    <div data-container="body" data-toggle="popover" data-placement="auto" data-content="This can be changed in your profile settings.">
                        <img src="~/images/icons/info.svg" title="Help" alt="Help" width="16" />
                    </div>
                </div>
                <input type="radio" asp-for="Input.Artist.IsPubliclyVisible" value="true" id="IsPubliclyVisible" checked style="margin-left:10px; margin-right: 10px;" />Yes
                <input type="radio" asp-for="Input.Artist.IsPubliclyVisible" value="false" id="IsPubliclyVisible" style="margin-left:10px; margin-right: 10px;" />No<br />
                <span asp-validation-for="Input.Artist.IsPubliclyVisible" class="text-danger"></span>
            </div>

            <div class="col-md-7 offset-md-1 px-0 form-group">
                <div class="d-flex justify-content-between">
                    <div><label asp-for="Input.Artist.Nationality"></label>*</div>
                    <div data-container="body" data-toggle="popover" data-placement="auto" data-content="Your choice will be public.">
                        <img src="~/images/icons/info.svg" title="Help" alt="Help" width="16" />
                    </div>
                </div>
                <select asp-for="Input.Artist.Nationality" asp-items="Html.GetEnumSelectList<Nationality>()" class="form-control">
                    <option selected disabled>Please select one</option>
                </select>
                <span asp-validation-for="Input.Artist.Nationality" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="d-flex justify-content-between">
                <div><label asp-for="Input.Artist.Description"></label>*</div>
                <div data-container="body" data-toggle="popover" data-placement="auto" data-content="This description will be public.">
                    <img src="~/images/icons/info.svg" title="Help" alt="Help" width="16" />
                </div>
            </div>
            <textarea type="text" asp-for="Input.Artist.Description" class="form-control" placeholder="Describe yourself in few words."></textarea>
            <span asp-validation-for="Input.Artist.Description" class="text-danger"></span>
        </div>

        <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-artfolio" style="margin-top: 10px;">create your account</button>
        </div>

        <p class="small font-italic text-muted">all fields with * must be filled.</p>
    </form>
</section>

@*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@

@section Scripts {
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgUploaded").change(function () {
            $("#imgPreview").replaceWith('<img id="imgPreview" src="#" alt="profile picture" />')
            readURL(this);
        });

        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
}